@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{

margin:0;
padding:0;
box-sizing: border-box;

}
a{

    text-decoration: none;
}
ul{

    list-style:none ;
}
.active{
    color: #fc036b;
    text-decoration: underline;
    font-weight: bold;
    
  
}
.navbar{

position: absolute;
top:0;
left: 0;
display: flex;
width: 100%;
justify-content: space-between;
padding: 20px;
color: whitesmoke;
}

.nav-links{

display: flex;
align-items: center;


}
.nav-links li{

    margin: 0 30px;
}
header{

height:100vh;
width:100vw;
background-image: url("./header-bg.png");
background-size: cover;
background-position: bottom;
display: flex;
align-items: center;
justify-content: center;


}
.header-content{


    color: white;
    text-align: center;
}
.line{


width:150px;
height:4px;
margin: 10px auto;
background: #fc036b;

}


.header-content h1{

font-size: 45px;
margin-top: 50px;
margin-bottom: 80px;


}

.ctn{

    padding:8px 15px;
    background-color: #fc036b;
    border-radius: 30px;
    color: aliceblue;

}

.menu{
    position: absolute;
    top:30px;
    right:30px;
    width: 40px;
    cursor: pointer;
}
.section{

width:80%;
margin: 80px auto;

}
.title{

text-align: center;
font-size: 4vmin;
color:#484872;

}
.row{

    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;


}
.events .row{

margin-top: 50px;

}
h4{

  font-size: 3vmin;  
  color:#484872;
  margin: 20px auto;
}
p{

    color:#7c7c7c;
padding: 0px 40px;

}
.events .ctn{

    margin-top: 50px;
}
.row .col{
display: flex;
flex-direction: column;
align-items: center;
width: 80%;


}
.explore{

width: 100%;
height:100vh;
background-image: url("bg2.png");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
display: flex;
align-items: center;


}
.explore-content{

width: 60%;
padding: 50px;
color: whitesmoke;
display: flex;
align-items: center;
flex-direction: column;
}
.explore-content h1{

  font-size: 7vmin;
  margin: 50px;
    
    }
    .explore-content p{

     color:rgb(221,221,221)
          
          }
          .explore-content .ctn{
margin-top: 40px;
                 
                 }
                 .explore-content .line{
                    margin-bottom: 50px;
                                     
                                     }






@media only screen and (max-width:850px) {
    .navbar{

      padding: 0;

    }
    .logo{
        position: absolute;
        top:30px;
        left: 30px;
    }
    .nav-links{

flex-direction: column;
width: 100%;
height: 100vh;
justify-content: center;
background: #484872;
margin-top: -900px;

    }

.nav-links li{

    margin: 30px auto;
}

}






